/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 2000px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    margin: 0 auto;
}
.header-top{
    display: flex;
    line-height: 30px;
    text-align: center;
}

.header-top p{
    padding-top: 85px;
    font-size: 20px;
    width: 300px;
}

.header-top img{
    width:200px;
    height:200px;
}

.header-right{
    display: flex;
    text-align: right;
    font-size: 30px ;
    padding-left: 1400px;
}

.search{
    display: flex;
}

.text{
    display: none;
}

.header-middle{
    text-align: center;
    font-size: 30px ;
    font-family: 'Times New Roman', Times, serif;
}

.search a{
    text-decoration: none;
    color: #000;
    margin: 5px;
}

.search a:hover{
    color: #434343;
}

.search li{
    font-size: 20px;
}

.cart a{
    text-decoration: none;
    color: #000;
    margin: 5px;
}

.cart a:hover{
    color: #434343;
}

.cart li{
    font-size: 20px;
}

.header-end{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    background: whitesmoke;
}

.dropdown {
    position: relative;
    width: 120px;
  }
  
  /* 描述下拉選單按鈕 */
  .dropdown-btn {
    display: inline-block;
    color: black;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    width: 100%;
    text-align: center;
  }
  

  /* 描述下拉選單 */
  .dropdown>.menu {
    position: absolute;
    left: 0;
    top: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    /* 預設menu為隱藏 */
    display: none;
  }
  
  /* 描述hover後的下拉選單 */
  .dropdown:hover>.menu {
    display: block;
  }
  
  /* 描述下拉選單裡的按鈕 */
  .dropdown>.menu a {
    text-decoration: none;
    background: white;
    color: gray;
    display: block;
    padding: 5px 0;
    text-align: center;
    transition: all .5s ease;
  }
  
  .dropdown>.menu a:hover {
    background: #fff;
  }

  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 50%;
    height: 50%;
  }

  .swiper-wrapper{
    width: 100%;
    height: 100%;
    padding: 100px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

.footer{
    margin-top:50px ;
}
.qk-display--il {
    display: inline;
}

.media {
    margin: 0px;
    padding: 0px;
}

.community{
    display: flex;
}

.lightbox-wrap{
    text-align: center;
}
.ig a{
    text-decoration: none;
    color: #000;
    margin: 5px;
}

.ig a:hover{
    color: #434343;
}

.ig a:before{
    margin-right: 15px;
}

.ig li{
    margin-bottom: 20px;
    font-size: 30px;
}


.fb a{
    text-decoration: none;
    color: #000;
    margin: 5px;
}

.fb a:hover{
    color: #196ab6;
}

.fb a:before{
    margin-right: 15px;
}

.fb li{
    margin-bottom: 20px;
    font-size: 30px;
}

.line a{
    text-decoration: none;
    color: #000;
    margin: 5px;
}

.line a:hover{
    color: #23b823;
}

.line a:before{
    margin-right: 15px;
}

.line li{
    margin-bottom: 20px;
    font-size: 30px;
}